<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Skysite-Market-Regression Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adede5">  <td>18/01/30 18:04:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTestCases.Verify_RegistrationNumber()[pri:0, instance:com.arc.SkysiteMarketPlace.testscripts.RegistrationPageTestCases@1f36e637]">Verify_RegistrationNumber</td> 
  <td>main@1150538133</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>18/01/30 18:05:32</td>   <td>87763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTestCases.Verify_RegistrationNumber_OtherLocation()[pri:0, instance:com.arc.SkysiteMarketPlace.testscripts.RegistrationPageTestCases@1f36e637]">Verify_RegistrationNumber_OtherLocation</td> 
  <td>main@1150538133</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>18/01/30 18:03:37</td>   <td>-26798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTestCases.beforeTest(java.lang.String)[pri:0, instance:com.arc.SkysiteMarketPlace.testscripts.RegistrationPageTestCases@1f36e637]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1150538133</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>18/01/30 18:05:11</td>   <td>66900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTestCases.beforeTest(java.lang.String)[pri:0, instance:com.arc.SkysiteMarketPlace.testscripts.RegistrationPageTestCases@1f36e637]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1150538133</td>   <td></td> </tr>
</table>
