<h2>Reporter output</h2><table><tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_1(Registration Page Creation): Verification Registration Page Creation </font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:04:05 107 - Element is displayed:: [[ChromeDriver: chrome on XP (b1d1cef759979acc11f4fe129e99c376)] -> css selector: .head-signup.menu-item>a]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:04:07 221 - Element is displayed:: [[ChromeDriver: chrome on XP (b1d1cef759979acc11f4fe129e99c376)] -> css selector: .head-signup.menu-item>a]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for FreeTrailLink  to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;Free Trail Link to Be clicked Sucessfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Free Trial Link  Successfully&emsp;<a href=".\ScreenShot\Verify_RegistrationNumber_1.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:04:08 150 - Element is displayed:: [[ChromeDriver: chrome on XP (b1d1cef759979acc11f4fe129e99c376)] -> css selector: #fullname]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for FullName Inbox to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;FullName: ARC Test Project has been entered in Full Name text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:04:14 859 - Element is displayed:: [[ChromeDriver: chrome on XP (b1d1cef759979acc11f4fe129e99c376)] -> xpath: .//*[@id='free-trial']/div[1]/div/div/div/div[2]/div/div/div/ul/li[1]]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;State: California has been entered in state text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:04:15 204 - Element is displayed:: [[ChromeDriver: chrome on XP (b1d1cef759979acc11f4fe129e99c376)] -> css selector: #phone]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;PhoneNumber: 787687232878 has been entered in phoneNumber text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Email: IndiaArc.91@Disposible.com has been entered in Email text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: Hello@123 has been entered in Password text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:04:15 941 - Element is displayed:: [[ChromeDriver: chrome on XP (b1d1cef759979acc11f4fe129e99c376)] -> css selector: #free-trial-btn]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Complete My registration button Clicked Sucessfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Process Started&emsp;<a href=".\ScreenShot\Verify_RegistrationNumber_2.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:04:44 117 - Element is displayed:: [[ChromeDriver: chrome on XP (b1d1cef759979acc11f4fe129e99c376)] -> xpath: //span[@class='img-circle profile-no-image md']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Profile Clicked Sucessfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:04:49 473 - Element is displayed:: [[ChromeDriver: chrome on XP (b1d1cef759979acc11f4fe129e99c376)] -> xpath: //a[contains(text(),'Log out')]]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Logout button Clicked Sucessfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:04:50 780 - Element is displayed:: [[ChromeDriver: chrome on XP (b1d1cef759979acc11f4fe129e99c376)] -> css selector: #button-1]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for yes Button Present</div></td></tr>
<tr><td><div class="test-message">&emsp;Yes Button Clicked Sucessfully </div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_2(Registration Page Creation): Verification Registration Page Creation with International </font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:05:32 416 - Element is displayed:: [[ChromeDriver: chrome on XP (74b96f704f4eada65ea4802ac7c4e13c)] -> css selector: .head-signup.menu-item>a]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:05:34 543 - Element is displayed:: [[ChromeDriver: chrome on XP (74b96f704f4eada65ea4802ac7c4e13c)] -> css selector: .head-signup.menu-item>a]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for FreeTrailLink  to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;Free Trail Link to Be clicked Sucessfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Free Trial Link Working Successfully&emsp;<a href=".\ScreenShot\Verify_RegistrationNumber_OtherLocation_3.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:05:35 325 - Element is displayed:: [[ChromeDriver: chrome on XP (74b96f704f4eada65ea4802ac7c4e13c)] -> css selector: #fullname]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for FullName Inbox to be appeared</div></td></tr>
<tr><td><div class="test-message">&emsp;FullName: ARC Test Project has been entered in Full Name text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:05:42 060 - Element is displayed:: [[ChromeDriver: chrome on XP (74b96f704f4eada65ea4802ac7c4e13c)] -> xpath: .//*[@id='free-trial']/div[1]/div/div/div/div[2]/div/div/div/ul/li[1]]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;State: International Location has been entered in state text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:05:42 462 - Element is displayed:: [[ChromeDriver: chrome on XP (74b96f704f4eada65ea4802ac7c4e13c)] -> css selector: #phone]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;PhoneNumber: 787687232878 has been entered in phoneNumber text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Email: IndiaArc.829@Disposible.com has been entered in Email text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: Hello@123 has been entered in Password text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:05:43 518 - Element is displayed:: [[ChromeDriver: chrome on XP (74b96f704f4eada65ea4802ac7c4e13c)] -> css selector: #free-trial-btn]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Complete My registration button Clicked Sucessfully</div></td></tr>
<tr><td><div class="test-message">&emsp;Process Started&emsp;<a href=".\ScreenShot\Verify_RegistrationNumber_OtherLocation_4.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:06:15 144 - Element is displayed:: [[ChromeDriver: chrome on XP (74b96f704f4eada65ea4802ac7c4e13c)] -> xpath: //span[@class='img-circle profile-no-image md']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Profile Clicked Sucessfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:06:20 381 - Element is displayed:: [[ChromeDriver: chrome on XP (74b96f704f4eada65ea4802ac7c4e13c)] -> xpath: //a[contains(text(),'Log out')]]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Logout button Clicked Sucessfully</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jan 18:06:21 666 - Element is displayed:: [[ChromeDriver: chrome on XP (74b96f704f4eada65ea4802ac7c4e13c)] -> css selector: #button-1]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for yes Button Present</div></td></tr>
<tr><td><div class="test-message">&emsp;Yes Button Clicked Sucessfully </div></td></tr>
</table>